.table-main-custom{
    --bs-table-color: #192655;
    --bs-table-bg: #B5D2FF;
    --bs-table-border-color: transparent;
    --bs-table-striped-bg: #FFFFFF;
    --bs-table-striped-color: #192655;
    --bs-table-active-bg: #eef0ff;
    --bs-table-active-color: #192655;
    --bs-table-hover-bg: #eef0ff;
    --bs-table-hover-color: #192655;

    color: #192655;
    border-color: transparent;
    border-radius: 4px;
    overflow: hidden;
}

.bg-img{
    background-image: url('F:\BU\year 4\FloodReport\client\src\images\bg-img.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the background image */
  color: #ffffff; /* Set text color to make it readable on the background */
  padding: 20px; /* Add padding as needed */
}