.table-main-custom{
    --bs-table-color: #192655;
    --bs-table-bg: #B5D2FF;
    --bs-table-border-color: transparent;
    --bs-table-striped-bg: #FFFFFF;
    --bs-table-striped-color: #192655;
    --bs-table-active-bg: #eef0ff;
    --bs-table-active-color: #192655;
    --bs-table-hover-bg: #eef0ff;
    --bs-table-hover-color: #192655;

    color: #192655;
    border-color: transparent;
    border-radius: 4px;
    overflow: hidden;
}

.main-primary-button {
  --bs-btn-color: white;
  --bs-btn-bg: #687EFF;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #687EFF;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #687EFF;
  --bs-btn-active-border-color: transparent;
}

.primary-tag {
  --bs-btn-color: #687EFF;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #687EFF;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #687EFF;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: #687EFF;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #687EFF;
}