.googleAPI {
    height: 550px;
    position: relative;
    width: fill;
    display: flex;
}

.menusc {
    position: absolute;
    height: 150px;
    width: 250px;
    border: 1px solid #687EFF;
    margin-top: -80px;
    right: 100px;
}

h1 {
    color: #192655;
    font-size: 64px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.center-text {
    text-align: center;
}

.custom-style {
    color: #002446;
    font-size: 24px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.custom-dropdown {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.table-container {
    display: flex;
    justify-content: center;
  }
.custom-table {
    border-collapse: collapse;
    width: 800px;
}

.custom-table th,.custom-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}