

.Logo {
    overflow: hidden;
    height: 40px;
    width: 120px;
    object-fit: cover;
    align-items: center;
    justify-items: center;
    display: flex;
}

.logo-image {
    object-fit: cover;
    overflow: hidden;
}


/* .navbar{
    height: 60px;
    width: 100%;
    display: flex;
    text-align:center;
    background-color: white;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #80B3FF;
    justify-items: center;
}  */

.navbar{
    width:100%;
    background-color: white;
    border-bottom: 1px solid #80B3FF;
}

.custom-button1 {
    width: 120px;
    height: 40px;
    background: #687EFF;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: white;
    border: 1px solid white;
    transition: background 0.3s;
}

.custom-button2 {
    width: 180px;
    height: 40px;
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: #687EFF;
    border: 1px solid #687EFF;
    transition: background 0.3s;
}

.custom-button1:hover {
    background: white;
    color: #687EFF;
    border: 1px solid #687EFF;
}

.custom-button2:hover {
    background: #687EFF;
    color: white;
    border: 1px solid #687EFF;
}

.nav-transparent-button {
    --bs-btn-color: #687EFF;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #687EFF;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #687EFF;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
  }

.nav-primary-button {
    --bs-btn-color: white;
    --bs-btn-bg: #687EFF;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #687EFF;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #687EFF;
    --bs-btn-active-border-color: transparent;
  }

  .nav-secondary-button {
    --bs-btn-color: #687EFF;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #687EFF;
    --bs-btn-hover-color: #687EFF;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #687EFF;
    --bs-btn-active-color: #687EFF;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #687EFF;
  }
