.custom-button1 {
    width: 120px;
    height: 40px;
    background: #687EFF;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: white;
    border: 1px solid white;
    transition: background 0.3s;
}

.custom-button2 {
    width: 180px;
    height: 40px;
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: #687EFF;
    border: 1px solid #687EFF;
    transition: background 0.3s;
}

.custom-button1:hover {
    background: white;
    color: #687EFF;
    border: 1px solid #687EFF;
}

.custom-button2:hover {
    background: #687EFF;
    color: white;
    border: 1px solid #687EFF;
}

.Logo {
    overflow: hidden;
    height: 40px;
    width: 120px;
    object-fit: cover;
    align-items: center;
    justify-items: center;
    display: flex;
}

.logo-image {
    object-fit: cover;
    overflow: hidden;
}

.nav-buttons {
    position: absolute;
    right: 0;
    display: flex;
    margin: 5px;
}

.nav-email {
    margin-right: 10px;
    margin-top: 15px;
}

.custom-button1 {
    margin-right: 10px;
}

.custom-button2 {
    margin-right: 10px;
}

/* .navbar{
    height: 60px;
    width: 100%;
    display: flex;
    text-align:center;
    background-color: white;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #80B3FF;
    justify-items: center;
}  */

.navbar{
    width:100%;
    background-color: white;
    border-bottom: 1px solid #80B3FF;
}
