.moreInfo-outer{
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}
.moreInfo{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: auto;
}

.info-img{
    width: 100%;
    height: 100%;
    object-fit:overflow;
    overflow: hidden;
    
}

.s-img{
    width: 500px;
    height: 600px;
    border-radius: 10px;
}

.tag-section{
    padding-top: 20px;
}
.tag{
    border: 1px solid #687EFF;
    color: #192655;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    font-weight: 600;
    text-align: center;
    justify-items: center;
}

.info-desc{
    padding-top: 50px;
    width: 300px;
}

.info-desc-text{
    font-size: 16px;
    font-weight: 900;
    color: #192655;
    text-align: right;
}

.info-desc-border{
    border: 1px solid #687EFF;
    border-radius: 4px;
}