.main-container-admin{
    display: flex;
    width: 100%;
    height:800px ;
}

.sub-main-container-admin{
    margin:auto;
}

.button-test {
    background-color: grey;
    margin:auto;
}

.table-row-body{
    margin-top: 1rem;
}