.footer-bg{
    background-color: #687EFF;
}

.footer-container-1{
    padding-top: 20px;
}

.footer-head{
    color:white;
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}

.footer-body{
    color:white;
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
    display: grid;
}

.footer-button{
    display: flex;
    justify-content: center;
}

.button{
    color: #687EFF;
    background-color: #B6FFFA;
    align-self: center;
    border-radius: 4px;
    width: 171px;
    height: 35px;
    font-size: 20px;
    border: none;
}

.footer-container-2{
    display: flex;
    gap: 5em;
    justify-content: center;
    padding-top: 20px;
}

.foot-logo-image{
    width: 189px;
    height: 189px;
}

.footer-contact-head, .footer-help-head{
    color: #B6FFFA;
    font-size: 20px;
    padding-bottom: 15px;
}

.footer-contact-body, .footer-help-body{
    padding-left: 15px;
    color: white;
    width: 220px;
    display: grid;
}

.footer-container-3{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color:white;
    padding-bottom: 20px;
}